<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gl.mapper.RepositoryMapper">
    <insert id="saveRepo" parameterType="Repository">
        insert into Repository (name,URL,todayStar,intro,lang,author,firstDate,send)
                  values (#{name},#{URL},#{todayStar},#{intro},#{lang},#{author},#{firstDate},#{send})
    </insert>

    <select id="selectRepoByURL" parameterType="String" resultType="Repository">
        select * from Repository where URL = #{value}
    </select>

    <update id="updateRepo" parameterType="Repository">
        update Repository set todayStar = #{todayStar} where id = #{id}
    </update>

    <delete id="deleteRepoById" parameterType="Repository">
        delete from	Repository where id = #{id}
    </delete>

    <!--     <![CDATA[<]]> 代表 <    ，xml 中不允许出现 < ,
                参考 https://blog.csdn.net/cherry_chenrui/article/details/79218517       -->
    <select id="selectRepoByFirstDate" parameterType="Date" resultType="Repository">
        select * from Repository where firstDate <![CDATA[<]]> #{value}
    </select>
</mapper>